nodeRedCode_Phonefalling.txt
[{"id":"b1a4773e.689378","type":"ibmiot in","z":"f88e29fc.d8f098","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"","eventType":"accel","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":"","allCommands":"","allFormats":"","qos":"0","x":120,"y":100,"wires":[["46625fba.aff74"]]},{"id":"46625fba.aff74","type":"function","z":"f88e29fc.d8f098","name":"getAcceleration_y","func":"return {payload: Math.abs(msg.payload.d.acceleration_y)};\n","outputs":1,"noerr":0,"x":170,"y":200,"wires":[["be905c4f.4fc7d"]]},{"id":"bf46d8f4.82f688","type":"template","z":"f88e29fc.d8f098","name":"Acceleration_y_exceed_message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Wow! Is your phone falling? \nIts acceleration y = {{payload}}!\n","output":"str","x":360,"y":360,"wires":[["5eb68d68.c142a4"]]},{"id":"be905c4f.4fc7d","type":"switch","z":"f88e29fc.d8f098","name":"testAcceleration_y","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"7","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":210,"y":280,"wires":[["bf46d8f4.82f688"]]},{"id":"5eb68d68.c142a4","type":"delay","z":"f88e29fc.d8f098","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":460,"y":460,"wires":[["f059daff.a9a878","e95f8a1.2402e78"]]},{"id":"f059daff.a9a878","type":"debug","z":"f88e29fc.d8f098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":380,"wires":[]},{"id":"e95f8a1.2402e78","type":"e-mail","z":"f88e29fc.d8f098","server":"smtp.gmail.com","port":"465","secure":true,"name":"ashishplatinum@gmail.com","dname":"Ashish IOT Demo","x":720,"y":460,"wires":[]}]